#canvas{
  background-color: rgb(215, 247, 201);
}

.container{
  background-color: rgb(123, 135, 238);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#rps{
  color:rgb(238, 235, 237);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 55px;